body{
    /* Récupération des couleurs grace au picker color */
    background-color: rgb(243, 243, 243);
    color: rgb(167, 169, 190);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.6;
    max-width: 900px;
    margin: 0 auto;
}
/* HEADER */
header{
    text-align: center;
}
header p{
    text-align: left;
    margin-top: 30px;
    padding: 0 20px 0 30px;    
}
header h1{
    font-size: 50px;
    font-weight: 500;
}
header h2{
    font-size: 42px;
    font-weight: 500;
}


/* MAIN */
main{
    background-color: #0F0E17;
    
}

/* FOOTER */
span.color, main h2, footer{
    background-color: #FF8906;
    border-radius: 10px;
    color: white;
    padding: 10px;
}
main, footer{
    border-radius: 15px;
    padding: 20px 40px 20px 40px;
}

footer{
    margin-top: 40px;
}
footer p{
    color: white;
    
}


